
@mixin background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

$margin-left : (10%);
$ny-pic : 200px;

// set body

    body
    {
        margin-left:    (100/4)*1%;
        margin-right:   (100/4)*1%;
        margin-top:     (100/10)*1%;
        margin-bottom:  (100/10)*1%;
    
        background-image: url(https://iphonesoft.fr/images/_082019/fond-ecran-dynamique-macos-wallpaper-club.jpg);
        @include background(); 
    }
 
//add grid

    .vcard
    {
        border: 10px solid gray;
        padding: (100/50)*1%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 200px 1fr 50px;

        background-image: url(https://img.freepik.com/vecteurs-libre/gros-plan-marbre-blanc-fond-texture_53876-58927.jpg?size=626&ext=jpg);
        @include background();
    }
 
//img size

    .bryan-rasamizafy
    {
        width: $ny-pic;
        height: $ny-pic;
        border: 5px solid gray;  
    }

//icon size

    img
    {
        width: 20px;
        height: 20px;
    }

//arrangement of blocks

    .photo
    {
        grid-column: 1;
        grid-row: 1;
    }

    .name
    {
        grid-column: 1;
        grid-row: 2 ; 
        margin-top: $margin-left;      
        h1 {font-size: 50px;}
    }
    
    .aboutme
    {
        grid-column: 2;
        grid-row: 1;
        margin-left: $margin-left;
        margin-right: 0px; 
        p{
            font-size: 20px;
            margin-top: 20px;
         } 
    }
     
    h2
    {
        font-size: 25px;
    }
    
    .coordonnées
    {
        grid-column: 2;
        grid-row: 2; 
        line-height: 40px;
        margin-left: (100/10)*1%;
        img {margin-right: 20px;}   
    }

    .reseaux
    {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin-top: auto;
        ul {
            text-align: center;
            li {display: inline-block;
                margin-left: 5%;
                    a{
                    & :hover{ 
                        width: 40px;
                        height: 40px;
                            }
                    } 
                }
            }
   
    }


